.Article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Article section.show {
    display: block;
}

.Article section.hidden {
    display: none;
}
